<%- include("header") -%>

<h2 class="box" id="heading">This is the about page</h2>

<p>fhuwehaguyawehfcuqwhgnfwciuejwahmcbnugafjqdhbcfnwudjACWFUIEq uewfgc  eqwhjEZDUQQFTYUGUH</p>

<%- include("footer") -%>